!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title App
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "/assets/application.css", "data-turbo-track": "reload", rel: "stylesheet"
    = javascript_include_tag "/assets/application.js", "data-turbo-track": "reload", type: "module"


  %body
    = yield
    :javascript
      console.log("✅ Rails is rendering JavaScript!");
